<h1><%= @user.username %>'s Profile</h1>


<% if @user.reviews.empty? %>
    <p><%= @user.username %> has not reviewed any race.</p>
<% else %>
    <h2><%= @user.username %>'s reviews: </h2>
    <% @user.reviews.each do |r| %>
        <p>Commented: "<%= r.content %>" on <%= link_to r.race.name, r.race %> - rated <%= r.rating %> / 10 </p>
    <% end %>
<% end %>
<br>
<p><%= button_to "Review a Race!", new_review_path, method: :get %></p>
<br>
<p><%= button_to "Edit user", edit_user_path(@user), method: :get %></p>
<%= button_to 'Delete user', user_path(@user), :data => {:confirm => 'Are you sure?'}, method: :delete %>
<br>
<p><%= link_to "Back to all users", users_path %></p>