<h1>Welcome to the 2019 season F1 Forum!</h1>

<h2>Click on one of the following links to see information about the 2019 season:</h2>

<ul>
    <li><h3><%= link_to "Teams", teams_path %></h3></li>
    <li><h3><%= link_to "Drivers", drivers_path %></h3></li>
    <li><h3><%= link_to "Races", races_path %></h3></li>
    <li><h3><%= link_to "Venues", venues_path %></h3></li>
    <li><h3>See All <%= link_to "Users", users_path %></h3></li>
    <li><h3>See All <%= link_to "Reviews", reviews_path %></h3></li>
</ul>